.section1 {
  max-width: 1920px;
  margin: 0 auto;
  background: url("../assets/pic1.jpg") no-repeat center center;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section1 h1 {
  font-size: 72px;
  font-weight: 900;
  font-family: 'Cinzel', serif;
  text-transform: uppercase;
  color: #FFFF;
}
